<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New product</title>
</head>
<body>
    <h1>New product</h1>
    <form action="/products" method="POST">
        <input type="text" name="name" placeholder="name"> <br>
        <input type="number" name="price" placeholder="price"> <br>
        <select name="category">
           <% for (let cat of categories) { %>
            <option value="<%=cat%>"><%=cat.toUpperCase()%></option>
           <% } %>
        </select>
        <button>Create</button>
    </form>
</body>
</html>